<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--
 If your app targets Android 9 or lower, you can declare
         ACCESS_COARSE_LOCATION instead.
    -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:ignore="CoarseFineLocation" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android_idea"
        tools:targetApi="31">
        <activity
            android:name=".anim.AnimaActivity"
            android:exported="false" />
        <activity
            android:name=".bluetooth.BthActivity"
            android:exported="false" />

        <receiver android:name=".service.MyNotificationBroadcaster" />

        <service android:name=".service.MusicService" />

        <activity
            android:name=".socket.SkChatMainActivity"
            android:exported="false" />
        <activity
            android:name=".service.MusicServiceActivity"
            android:exported="false" />
        <activity
            android:name=".base.common.PhotoDetailActivity"
            android:exported="false" />
        <activity
            android:name=".glide.TGlideActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TActivity_01"
            android:exported="false" />
        <activity
            android:name=".activity.TActivity_02"
            android:exported="false" />
        <activity
            android:name=".broadcastreceiver.BroadCastActivity"
            android:exported="false" />
        <activity
            android:name=".okhttp.TOkhttpActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>